In [103]:
import pandas as pd
import json
from pandas import json_normalize
#from pymongo  import MongoClient

In [104]:
URL = 'https://jsonplaceholder.typicode.com/comments'
df = pd.read_json(URL)

In [62]:
df.head()

,postId,id,name,email,body
0,1,1,id labore ex et quam laborum,Eliseo@gardner.biz,laudantium enim quasi est quidem magnam volupt...
1,1,2,quo vero reiciendis velit similique earum,Jayne_Kuhic@sydney.com,est natus enim nihil est dolore omnis voluptat...
2,1,3,odio adipisci rerum aut animi,Nikita@garfield.biz,quia molestiae reprehenderit quasi aspernatur\...
3,1,4,alias odio sit,Lew@alysha.tv,non et atque\noccaecati deserunt quas accusant...
4,1,5,vero eaque aliquid doloribus et culpa,Hayden@althea.biz,harum non quasi et ratione\ntempore iure ex vo...

In [67]:
print(df)

     postId   id                                               name  \
0         1    1                       id labore ex et quam laborum
1         1    2          quo vero reiciendis velit similique earum
2         1    3                      odio adipisci rerum aut animi
3         1    4                                     alias odio sit
4         1    5              vero eaque aliquid doloribus et culpa
..      ...  ...                                                ...
495     100  496  et occaecati asperiores quas voluptas ipsam no...
496     100  497             doloribus dolores ut dolores occaecati
497     100  498                           dolores minus aut libero
498     100  499  excepturi sunt cum a et rerum quo voluptatibus...
499     100  500                                 ex eaque eum natus

                            email  \
0              Eliseo@gardner.biz
1          Jayne_Kuhic@sydney.com
2             Nikita@garfield.biz
3                   Lew@alysha.tv
4               Hayden@althea.biz
..                            ...
495               Zola@lizzie.com
496             Dolly@mandy.co.uk
497             Davion@eldora.net
498  Wilburn_Labadie@araceli.name
499                Emma@joanny.ca

                                                  body
0    laudantium enim quasi est quidem magnam volupt...
1    est natus enim nihil est dolore omnis voluptat...
2    quia molestiae reprehenderit quasi aspernatur\...
3    non et atque\noccaecati deserunt quas accusant...
4    harum non quasi et ratione\ntempore iure ex vo...
..                                                 ...
495  neque unde voluptatem iure\nodio excepturi ips...
496  non dolor consequatur\nlaboriosam ut deserunt ...
497  aliquam pariatur suscipit fugiat eos sunt\nopt...
498  et necessitatibus tempora ipsum quaerat invent...
499  perspiciatis quis doloremque\nveniam nisi eos ...

[500 rows x 5 columns]

In [63]:
df.describe()

           postId          id
count  500.000000  500.000000
mean    50.500000  250.500000
std     28.894979  144.481833
min      1.000000    1.000000
25%     25.750000  125.750000
50%     50.500000  250.500000
75%     75.250000  375.250000
max    100.000000  500.000000

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   postId  500 non-null    int64
 1   id      500 non-null    int64
 2   name    500 non-null    object
 3   email   500 non-null    object
 4   body    500 non-null    object
dtypes: int64(2), object(3)
memory usage: 19.7+ KB

In [59]:
## Valeurs des différents champs à extraire

df['name'].count()

df['email'].count()

df['body'].count()

500

In [24]:
## Présence des valeurs NULL

df['name'].isnull().value_counts()

df['email'].isnull().value_counts()

df['body'].isnull().value_counts()

False    500
Name: body, dtype: int64

In [69]:
## Récupération des champs demandés dans un nouveau DataFrame

df2 = df[['name','email','body']]

In [70]:
## df2.head()
print(df[['name','email','body']])

                                                  name  \
0                         id labore ex et quam laborum
1            quo vero reiciendis velit similique earum
2                        odio adipisci rerum aut animi
3                                       alias odio sit
4                vero eaque aliquid doloribus et culpa
..                                                 ...
495  et occaecati asperiores quas voluptas ipsam no...
496             doloribus dolores ut dolores occaecati
497                           dolores minus aut libero
498  excepturi sunt cum a et rerum quo voluptatibus...
499                                 ex eaque eum natus

                            email  \
0              Eliseo@gardner.biz
1          Jayne_Kuhic@sydney.com
2             Nikita@garfield.biz
3                   Lew@alysha.tv
4               Hayden@althea.biz
..                            ...
495               Zola@lizzie.com
496             Dolly@mandy.co.uk
497             Davion@eldora.net
498  Wilburn_Labadie@araceli.name
499                Emma@joanny.ca

                                                  body
0    laudantium enim quasi est quidem magnam volupt...
1    est natus enim nihil est dolore omnis voluptat...
2    quia molestiae reprehenderit quasi aspernatur\...
3    non et atque\noccaecati deserunt quas accusant...
4    harum non quasi et ratione\ntempore iure ex vo...
..                                                 ...
495  neque unde voluptatem iure\nodio excepturi ips...
496  non dolor consequatur\nlaboriosam ut deserunt ...
497  aliquam pariatur suscipit fugiat eos sunt\nopt...
498  et necessitatibus tempora ipsum quaerat invent...
499  perspiciatis quis doloremque\nveniam nisi eos ...

[500 rows x 3 columns]

In [72]:
## Nettoyage des données

net = pd.read_json('https://jsonplaceholder.typicode.com/comments')
net

,postId,id,name,email,body
0,1,1,id labore ex et quam laborum,Eliseo@gardner.biz,laudantium enim quasi est quidem magnam volupt...
1,1,2,quo vero reiciendis velit similique earum,Jayne_Kuhic@sydney.com,est natus enim nihil est dolore omnis voluptat...
2,1,3,odio adipisci rerum aut animi,Nikita@garfield.biz,quia molestiae reprehenderit quasi aspernatur\...
3,1,4,alias odio sit,Lew@alysha.tv,non et atque\noccaecati deserunt quas accusant...
4,1,5,vero eaque aliquid doloribus et culpa,Hayden@althea.biz,harum non quasi et ratione\ntempore iure ex vo...
...,...,...,...,...,...
495,100,496,et occaecati asperiores quas voluptas ipsam no...,Zola@lizzie.com,neque unde voluptatem iure\nodio excepturi ips...
496,100,497,doloribus dolores ut dolores occaecati,Dolly@mandy.co.uk,non dolor consequatur\nlaboriosam ut deserunt ...
497,100,498,dolores minus aut libero,Davion@eldora.net,aliquam pariatur suscipit fugiat eos sunt\nopt...
498,100,499,excepturi sunt cum a et rerum quo voluptatibus...,Wilburn_Labadie@araceli.name,et necessitatibus tempora ipsum quaerat invent...
499,100,500,ex eaque eum natus,Emma@joanny.ca,perspiciatis quis doloremque\nveniam nisi eos ...

In [85]:
net.shape

(500, 4)

In [92]:
net.drop_duplicates()

,postId,id,name,email,body
0,1,1,id labore ex et quam laborum,Eliseo@gardner.biz,laudantium enim quasi est quidem magnam volupt...
1,1,2,quo vero reiciendis velit similique earum,Jayne_Kuhic@sydney.com,est natus enim nihil est dolore omnis voluptat...
2,1,3,odio adipisci rerum aut animi,Nikita@garfield.biz,quia molestiae reprehenderit quasi aspernatur\...
3,1,4,alias odio sit,Lew@alysha.tv,non et atque\noccaecati deserunt quas accusant...
4,1,5,vero eaque aliquid doloribus et culpa,Hayden@althea.biz,harum non quasi et ratione\ntempore iure ex vo...
...,...,...,...,...,...
495,100,496,et occaecati asperiores quas voluptas ipsam no...,Zola@lizzie.com,neque unde voluptatem iure\nodio excepturi ips...
496,100,497,doloribus dolores ut dolores occaecati,Dolly@mandy.co.uk,non dolor consequatur\nlaboriosam ut deserunt ...
497,100,498,dolores minus aut libero,Davion@eldora.net,aliquam pariatur suscipit fugiat eos sunt\nopt...
498,100,499,excepturi sunt cum a et rerum quo voluptatibus...,Wilburn_Labadie@araceli.name,et necessitatibus tempora ipsum quaerat invent...
499,100,500,ex eaque eum natus,Emma@joanny.ca,perspiciatis quis doloremque\nveniam nisi eos ...

In [95]:
df2.to_csv("CommentsWithNames.csv", index = False)

df2

,name,email,body
0,id labore ex et quam laborum,Eliseo@gardner.biz,laudantium enim quasi est quidem magnam volupt...
1,quo vero reiciendis velit similique earum,Jayne_Kuhic@sydney.com,est natus enim nihil est dolore omnis voluptat...
2,odio adipisci rerum aut animi,Nikita@garfield.biz,quia molestiae reprehenderit quasi aspernatur\...
3,alias odio sit,Lew@alysha.tv,non et atque\noccaecati deserunt quas accusant...
4,vero eaque aliquid doloribus et culpa,Hayden@althea.biz,harum non quasi et ratione\ntempore iure ex vo...
...,...,...,...
495,et occaecati asperiores quas voluptas ipsam no...,Zola@lizzie.com,neque unde voluptatem iure\nodio excepturi ips...
496,doloribus dolores ut dolores occaecati,Dolly@mandy.co.uk,non dolor consequatur\nlaboriosam ut deserunt ...
497,dolores minus aut libero,Davion@eldora.net,aliquam pariatur suscipit fugiat eos sunt\nopt...
498,excepturi sunt cum a et rerum quo voluptatibus...,Wilburn_Labadie@araceli.name,et necessitatibus tempora ipsum quaerat invent...
499,ex eaque eum natus,Emma@joanny.ca,perspiciatis quis doloremque\nveniam nisi eos ...

In [119]:
import pymongo
client = pymongo.MongoClient("mongodb://localhost:27017")
df = df.to_dict(orient = "records")
db =client["kaisens"]
db.kaisens.insert_many(df)

In [116]:
pip install pymongo

Collecting pymongoNote: you may need to restart the kernel to use updated packages.

  Downloading pymongo-4.1.1-cp39-cp39-win_amd64.whl (365 kB)
Installing collected packages: pymongo
Successfully installed pymongo-4.1.1

In [120]:
pip install pandas

Requirement already satisfied: pandas in c:\users\neilt\anaconda3\lib\site-packages (1.3.4)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\neilt\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\neilt\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.17.3 in c:\users\neilt\anaconda3\lib\site-packages (from pandas) (1.20.3)
Requirement already satisfied: six>=1.5 in c:\users\neilt\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.